<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/tweetmanager</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">poster</property>
        <property name="connection.password">qEWMxHdyExEtA2yw</property>
        <property name="show_sql">true</property>
        <mapping package="edu.masitnikov.poster.domain"/>
        <mapping class="edu.masitnikov.poster.domain.Tweet"/>
    </session-factory>
</hibernate-configuration>